<%for (i in body["text"])
{if (body["text"][i]["type"] == "hero") {%>
  <div class="inner-hero">
    <img src=' <%=body["text"][i]["value"]["src"] %> ' alt='
    <%=body["text"][i]["value"]["alt"] %> '>
  </div>

<% } else if (body["text"][i]["type"] == "header") {%>
  <div id="inner-title">
    <h1><%=body["text"][i]["value"]["text"] %></h1>
    <h2 id="inner-sub"><%=body["text"][i]["value"]["subtitle"] %></h2>
  </div>

<% } else if (body["text"][i]["type"] == "lede") {%>
<p id="inner-intro"> <%=body["text"][i]["value"]["text"] %> </p>

<% } else if (body["text"][i]["type"] == "text") {%>
<p> <%=body["text"][i]["value"] %> </p>

<%} else if (body["text"][i]["type"] == "video") {%>
    <iframe src="https://player.vimeo.com/video/<%=body["text"][i]["value"]["id"]%>?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<% } else if (body["text"][i]["type"] == "interactive") {%>
<p> <%=body["text"][i]["value"]["text"] %> </p>

<% } else if (body["text"][i]["type"] == "pull-quote") {%>
<div class="pull-quote">
  <hr>
  <p> <%=body["text"][i]["value"]["text"] %> </p>
</div>

<% } else if (body["text"][i]["type"] == "story-image") {%>
<div class="story-image">
  <img id="story-image" src=' <%=body["text"][i]["value"]["src"] %> ' alt='
  <%=body["text"][i]["value"]["alt"] %> '>
  <p id="inner-image-caption"><%=body["text"][i]["value"]["caption"] %></p>
</div>
<%} } %>
