<script>
$(document).ready(function(){
	$('iframe').each(function(i, el){
		$(el).attr('src', $(el).data("src"));
	});
});
</script>

<div class="container inner">

  <section id="top-fold">
  
        <video id="cinemagraph" data-autoplay autoplay muted playsinline loop>
          <source src="/assets/video/<%=body["cinemagraph"]["src"] %>" type="video/mp4">
          <!-- <source src="/assets/video/harbor_embark.mp4" type="video/mp4"> -->
        </video>

      <div class="replay-btn" id="replay-btn">
        <i class="fa fa-repeat"></i>
        <span>Replay</span>
      </div>
      <div>
    <div id="title-box" class="center-wrapper">
      <div class="<%= body["master-class"]["class"] %> change-bg" id="inner-title-box">
        <h1><%=body["header"]["text"] %></h1>
        <h3><%=body["header"]["subtitle"] %></h3>
      </div>
    </div>
    </div>

    <div class="byline-box center-wrapper">
      <div class="byline-item">
      <p class="byline-head">written by</p>
        <% for (r in body["reporters"]) {%>
        <p><%= body["reporters"][r]["name"] %></p>
        <% } %>
      </div>
      <div class="byline-item">
      <p class="byline-head">photos by</p>
        <% for (v in body["videographers"]) {%>
        <p><%= body["videographers"][v]["name"] %></p>
        <% } %>
      </div>
      <div class="byline-item">
      <p class="byline-head">design by</p>
        <% for (d in body["designers"]) {%>
        <p><%= body["designers"][d]["name"] %></p>
        <% } %>
      </div>
    </div>

  </section>

  <!-- <iframe src="https://player.vimeo.com/video/162564459" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-aspectratio="0.562" style="width: 896px; height: 503.552px;"></iframe> -->

  <section class="center-wrapper">
    <div class="max-width">
    <% for (i in body["text"]) {
      if (body["text"][i]["type"] == "text") {%>
    <p> <%-body["text"][i]["value"] %> </p>
    <%} else if (body["text"][i]["type"] == "subhead") {%>
      <h4 class="subhead <%= body["master-class"]["class"] %>"><%=body["text"][i]["value"]["text"] %></h4>
    <%} else if (body["text"][i]["type"] == "video") {%>
      <div id="video-top"></div>
    </div>
  </section>
  <div class="vimeo-container">
      <div class="vimeo-wrapper" id="vimeo-wrap">
        <iframe data-src="https://player.vimeo.com/video/<%=body["text"][i]["value"]["id"]%>?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
      <section class="center-wrapper">
        <div class="max-width">
      <%} else if (body["text"][i]["type"] == "interactive") {%>
      </div>
    </section>
         <% var filepath = body["text"][i]["value"]["filename"] %>
           <%- include(filepath); %>
           <section class="center-wrapper">
             <div class="max-width">

    <% } else if (body["text"][i]["type"] == "pullquote") {%>

    </div>
  </section>
    <div class="pull-quote-box change-bg <%= body["master-class"]["class"] %>">
      <h3 class="pull-quote">
        <hr> <span><%=body["text"][i]["value"]["text"] %></span> </h3>
    </div>
    <section class="center-wrapper">
      <div class="max-width">
    <% } else if (body["text"][i]["type"] == "image") {%>
    </div>
  </section>
    <figure>
      <img class="inner-image" src='assets/images/<%=body["text"][i]["value"]["src"] %> ' alt='
      <%=body["text"][i]["value"]["alt"] %>'>
      <figcaption>
      <p class="fig-descr"><%=body["text"][i]["value"]["caption"] %></p>
      <p class="fig-attr"><%=body["text"][i]["value"]["attribution"] %></p>
    </figcaption>
    </figure>
      <section class="center-wrapper">
        <div class="max-width">
    <%} } %>
  </div>
  </section>
