<div class="container inner">

  <section id="top-fold">

    <div class="inner-hero">
      <img src=' <%=body["hero"]["src"] %> ' alt='
      <%=body["hero"]["alt"] %> '>
    <div class="center-wrapper">
      <div class="<%= body["master-class"]["class"] %>" id="inner-title-box">
        <h1><%=body["header"]["text"] %></h1>
        <h3><%=body["header"]["subtitle"] %></h3>
      </div>
    </div>
    </div>



    <div class="center-wrapper">
      <p id="inner-intro"> <%=body["lede"]["text"] %> </p>
    </div>

    <div class="byline-box center-wrapper">
      <div class="byline-item">
      <p class="byline-head">written by</p>
        <% for (r in body["reporters"]) {%>
        <p><%= body["reporters"][r]["name"] %></p>
        <% } %>
      </div>
      <div class="byline-item">
      <p class="byline-head">photos by</p>
        <% for (v in body["videographers"]) {%>
        <p><%= body["videographers"][v]["name"] %></p>
        <% } %>
      </div>
      <div class="byline-item">
      <p class="byline-head">design by</p>
        <% for (d in body["designers"]) {%>
        <p><%= body["designers"][d]["name"] %></p>
        <% } %>
      </div>
    </div>

  </section>

  <!-- <iframe src="https://player.vimeo.com/video/162564459" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-aspectratio="0.562" style="width: 896px; height: 503.552px;"></iframe> -->

  <section class="center-wrapper" id="body">
    <div class="max-width">
    <% for (i in body["text"]) {
      if (body["text"][i]["type"] == "text") {%>
    <p> <%=body["text"][i]["value"] %> </p>

    <%} else if (body["text"][i]["type"] == "subhead") {%>

      <h4 class="subhead <%= body["master-class"]["class"] %>"><%=body["text"][i]["value"]["text"] %></h4>

    <%} else if (body["text"][i]["type"] == "video") {%>
        <iframe src="https://player.vimeo.com/video/<%=body["text"][i]["value"]["id"]%>?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <% } else if (body["text"][i]["type"] == "interactive") {%>
    <p> <%=body["text"][i]["value"]["text"] %>  </p>

    <% } else if (body["text"][i]["type"] == "pullquote") {%>
    <div class="pull-quote-box <%= body["master-class"]["class"] %>">

      <h3 class="pull-quote">
        <hr> <span><%=body["text"][i]["value"]["text"] %></span> </h3>
    </div>

    <% } else if (body["text"][i]["type"] == "story-image") {%>
      <figure>
        <img class="inner-image" src=' <%=body["text"][i]["value"]["src"] %> ' alt='
        <%=body["text"][i]["value"]["alt"] %> '>
        <figcaption><%=body["text"][i]["value"]["caption"] %></figcaption>
      </figure>
    <%} } %>
  </div>
  </section>

</div>
