<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <link href="/stylesheets/bootstrap.min.css.map">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>

<body>
  <script>
  var currentPage = 'about';
  console.log(currentPage);

  var currentNav = '.' + currentPage;
  console.log(currentNav);
  </script>
    <% include ../partials/nav.ejs %>
<div class="about-cinema-wrapper">
  <video id="about-cinemagraph" data-autoplay autoplay muted playsinline>
  <source src="/assets/video/teamportrait.mp4 %>" type="video/mp4">
</div>

</video>

    <div id="title-box" class="center-wrapper about-title">
      <div class="about change-bg" id="inner-title-box">
        <h1><%= espanol ? "Sobre":"About"%></h1>
      </div>
    </div>

<section id="about-intro-text" class="container max-width">
  <div class="row justify-content-center">

  <div class="divider">
    <!-- <img alt="Logo" src="/assets/584_logo_plain.png"> -->
    <h3><%= espanol ? "El Proyecto":"The Project"%></h3>
  </div>

  <div class="about">
	<% if (espanol) { %>

	<% } else { %>
    <p>We are a group of student videographers, web designers and developers, reporters and faculty brought together by a common goal: to share the voices of Cuba’s youth.</p>

    <p>We are a part of an annual project by UNC-Chapel Hill’s School of Media and Journalism. In past projects, students have reported across five continents and produced award-winning multimedia work. As students, we’re learning the rewards and challenges of reporting on different cultures; as journalists, we are working as a team to tell the stories that are shaping the globe.</p>

    <p>Fidel Castro’s death and normalizing relations with the United States have fostered an openness that Cuba hasn’t seen in decades. This wave of change is overtaking the country, and while the population is aging, it is the young Cubans who will determine the nation’s future as it finds its place on the global stage. We bring you their stories.</p>
  	<% } %>
	</div>

  <div class="about">
 	<% if (espanol) { %>
  	Mei eu dico doming inermis, qui cu minimum platonem. Quod alii iudicabit pro eu, probo propriae erroribus te nec, eos te essent detracto invidunt. Postea invidunt appellantur eum eu. Ei noster delectus necessitatibus cum. Vim habeo dicunt te, et dolorum postulant mel. Et sea errem quidam.

  	<% } %>
	</div>

  <div class="divider">
    <!-- <img alt="Logo" src="/assets/584_logo_plain.png"> -->
    <h3><%= espanol ? "El Equipo":"The Team"%></h3>
  </div>
</div><!-- end row-->

</section> <!--end container -->

  <div class="team-nav">
    <ul>
      <li data-filter="all" class="active"><%= espanol ? "Todos":"Everyone"%></li>
      <li data-filter=".vid"><%= espanol ? "Videógrafa/o":"Videographer"%></li>
      <li data-filter=".rep"><%= espanol ? "Periodista":"Reporter"%></li>
      <li data-filter=".des"><%= espanol ? "Diseñadora":"Designer"%></li>
      <li data-filter=".dev"><%= espanol ? "Desarrollador/a":"Developer"%></li>
      <li data-filter=".coach"><%= espanol ? "Instructor":"Coach"%></li>
    </ul>
  </div>

  <!-- fa-github,  -->

  <div class="container">
  <div class="row" id="team-photos">

    <% for (i in team) {  %>
        <div class="mix col-xs-12 col-sm-6 col-lg-4 col-xs-3 <%=team[i]["roleid"] %>">
          <div class="team-image-box">
            <p class="bio">
              <%= espanol ? team[i]["biospanish"]:team[i]["bio"] %> </p>
            <img alt="<%=team[i]["fullname"]%>" src="/assets/images/team/edited/<%=team[i]["firstname"]%>.jpg">
          </div>
          <div class="team-info">
            <p class="role"><%=espanol ? team[i]["rolespanish"]:team[i]["role"] %></p>
            <p class="team-name"><%=team[i]["fullname"]%> </p>
            <% if ( team[i]["portfolio"]){ %>
            <p class="portfolio"><a href="<%=team[i]["portfolio"]%>"><%= espanol ? "Portfolio":"Portfolio"%></a></p>

            <% if (team[i]["portfolio"] && team[i]["socialid"]){ %>
            <span> | </span>
            <% } %>
            <% } else { }%>
            <% if (team[i]["socialid"]){ %>

              <a class="about-social-icon <%= team[i]["socialid"]%>" href="<%= team[i]["social"]%>">
                <!-- <i class="fa fa-<%= team[i]["socialid"] %>" aria-hidden="true"></i> -->
                <p>@<%= team[i]["handle"]%></p>
              </a>



            <% } else { }%>

          </div>
        </div>
        <% } %>
    </div>
</div> <!--end container -->

  <div id="special-thanks">
    <div class="about-container">
 	<% if (espanol) { %>
	<h3>Gracias Especiales</h3>

	<% } else { %>
	<h3>Special Thanks</h3>


  	<% } %>
    <ul>
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6 col-xs-3">
        <li>Kammy Liu, Developer</li>
        <li>Kammy Liu, Developer</li>
        <li>Kammy Liu, Developer</li>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6 col-xs-3">
        <li>Kammy Liu, Developer</li>
        <li>Kammy Liu, Developer</li>
      </div>
    </ul>
    </div>
  </div>
  </div>

</div>

    <% include ../partials/footer.ejs %>
	<script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script>var mixer = mixitup('#team-photos');</script>
</body>
</html>
