<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>

</head>

<body>
  <script>
  var currentPage = '';
  var currentNav = '';
  var mobileNav = ".overlay-content";
  </script>
  <% include ../partials/nav.ejs %>
  <div id="index-container">
    <div id="video_overlay">
        <div class="texttop fadeIn1">
          <% if (espanol) { %>
            Olas de cambio social, económico y político están rizando en Cuba.
          <% } else { %>
            Waves of social, economic and political change are rippling across Cuba.
          <% } %>
        </div>
        <div class="textbottom fadeIn2">
          <% if (espanol) { %>
            Ahora, todo lo que es cierto sobre el futuro de la nación es quien determinará: la juventud.
          <% } else { %>
            Now, all that is certain about the nation's future is who will determine it: the youth.
          <% } %>
        </div>
    </div>

    <video id="home-video" muted data-autoplay autoplay onended="showReplay()">
      <source src="/assets/video/home.mp4" type="video/mp4">
    </video>

        <div class="replay-btn" id="replay-btn" onclick="replayVideo()">
          <i class="fa fa-repeat"></i>
          <span><%= espanol ? "Replay Espanol":"Replay" %></span>
        </div>
  </div>


  <div id="mobile-container">

    <div id="intro-box">
      <img alt="Cuba's New Wave" src="/assets/images/intro.jpg">
    </div>
    <div id="intro-text-box">
      <div id="intro-line"></div>
    <p id="intro-text">
      <% if (espanol) { %>
      TO TRANSLATE Cuba's youth are bringing in a wave of change. Join us as we journey through Havana through their eyes.
      <% } else { %>
      Waves of social, economic and political change are rippling across Cuba. Now, all that is certain about the nation’s future is who will determine it: the youth.        		<% } %>
      </p>
</div>

    <div class="photo-box" id="family-box">
      <a href="/pages/family<%=URL_LANG%>">
      <div class="overlay-black">
        <h3>Viva la Familia</h3>
        <p>Diego and his grandmother find common ground in a changing Cuba</p>
      </div></a>

    </div>
    <div class="photo-box" id="harbor-box">
      <a href="/pages/harbor<%=URL_LANG%>">
      <div class="overlay-black">
        <h3>Damian y Dorian</h3>
        <p>Trendsetting brothers cut a new path</p>
      </div></a>
    </div>
    <div class="photo-box" id="dorian-box">
      <a href="/pages/dorian<%=URL_LANG%>">
      <div class="overlay-black">
        <h3>Across the Harbor</h3>
        <p>One commute bridges two worlds</p>
      </div></a>
    </div>
    <div class="photo-box" id="hiphop-box">
      <a href="/pages/hiphop<%=URL_LANG%>">
      <div class="overlay-black">
        <h3>The Real Queens</h3>
        <p>Two rappers challenge stereotypes through their beats</p>
      </div></a>
    </div>
    <div class="photo-box" id="skate-box">
      <a href="/pages/skate<%=URL_LANG%>">
      <div class="overlay-black">
        <h3>Revolution on Wheels</h3>
        <p>Cuba’s youth refuse to be curbed by tradition</p>
      </div></a>
    </div>
  </div>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
